<template>
  <section class="hello">
    <div class="wrapper">
      <h1 v-contenteditable:headerText.text="isEnabled" :style="headerTextClasses()" />
      <p v-contenteditable:paragraphText="isEnabled"/>
      <hr>
      <p>{{ headerTextClasses() }}</p>
      <colorpicker :value="headerTextColors" v-model="headerTextColors"></colorpicker>
    </div>
  </section>
</template>

<script>
import VueColor from 'vue-color'
var Chrome = VueColor.Chrome

export default {
  name: 't00001',
  data () {
    return {
      isEnabled: true,
      headerText: 'Как сделать тысячи людей счастливыми?',
      headerTextColors: {
        hex: '#194d33',
        hsl: { h: 150, s: 0.5, l: 0.2, a: 1 },
        hsv: { h: 150, s: 0.66, v: 0.30, a: 1 },
        rgba: { r: 25, g: 77, b: 51, a: 1 },
        a: 1
      },
      headerTextFonts: {
        style: 'italic',
        variant: 'normal',
        weight: 'bold',
        size: '1rem',
        lineHeight: 1.7,
        family: 'Geneva'
      },
      paragraphText: 'Мы придумали новый способ создания сайтов, где процесс похож на игру. Теперь каждый — дизайнер, если есть страсть к любимому делу. Не важно что вы делаете: сайт для бизнеса, лендинг пейдж, интернет-магазин или редакторский спецпроект — с Тильдой вы сделаете это быстро и легко.'
    }
  },
  methods: {
    headerTextClasses: function () {
      return {
        'color': 'rgba(' + this.headerTextColors.rgba.r + ',' + this.headerTextColors.rgba.g + ',' + this.headerTextColors.rgba.b + ',' + this.headerTextColors.rgba.a + ')',
        'font': this.headerTextFonts.style + ', ' + this.headerTextFonts.variant + ', ' + this.headerTextFonts.weight + ', ' + this.headerTextFonts.size + ', ' + this.headerTextFonts.lineHeight + ', ' + this.headerTextFonts.family
      }
    }
  },
  components: {
    'colorpicker': Chrome
  }
}
</script>

<style>
  input{
    display: block;
  }
</style>
