<template>
  <div id="app">
    <t00001></t00001>
  </div>
</template>

<script>
import t00001 from './components/t00001.vue'

export default {
  name: 'App',
  components: {
    t00001
  }
}
</script>

<style>

</style>
